@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gloria+Hallelujah&display=swap');

body {
    background-color: rgb(248, 249, 201);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    font-weight: bold;
    color: rgb(79, 78, 78);
}

h3 {
    margin: 0;
}
.options {
    display: flex;
    flex-wrap: wrap;
    font-size: 200px;
    display: flex;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.options p {
    margin: 40px 0px;
    cursor: pointer;
}

.score {
    display: flex;
    justify-content: space-evenly;
    gap: 250px;
    flex-wrap: wrap;
    margin: 30px 0px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    color: rgb(79, 78, 78);
}

.moves {
    font-size: 25px;
    color: rgb(79, 78, 78);
    font-weight: bold;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.total-moves {
    color: rgb(79, 78, 78);
    font-size: 25px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
}

.total-moves span {
    color:rgb(5, 128, 185);
}

.winner {
    color: rgb(255, 187, 0);
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;

}

.reset {
    font-family: 'Gloria Hallelujah', cursive;
    border: none;
    color: #fff;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}